<%= form_with(model: recipe) do |form| %>
  <% if recipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
  <div class="form">
      <div class="">
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :preparation_time %>
    <%= form.time_field :preparation_time, style: "border: 1px solid #e7720b; padding: 5px; border-radius: 4px; width: 99%;" %>
  </div>

  <div class="field">
    <%= form.label :cooking_time %>
    <%= form.time_field :cooking_time, style: "border: 1px solid #e7720b; padding: 5px; border-radius: 4px; width: 99%;" %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, style: "border: 1px solid #e7720b; padding: 5px; border-radius: 4px; width: 99%;" %>
  </div>

  <div class="field">
    <%= form.label :public, style: "display: block" %>
    <%= form.check_box :public %>
  </div>

  <div class="field">
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit "Add Recipe", class: "btn btn-success" %>
  </div>
<% end %>
</div>
</div>
</div>