<div id="<%= dom_id recipe %>">
  <p>
    <strong>Name:</strong>
    <%= recipe.name %>
  </p>
  <div class="itime">
  <p>
    <strong>Preparation time:</strong>
    <%= recipe.preparation_time %>
  </p>

  <p>
    <strong>Cooking time:</strong>
    <%= recipe.cooking_time %>
  </p>
  </div>
 <div class="descri">
  <p>
    <strong>Description:</strong>
    <%= recipe.description %>
  </p>

  <p>
    <strong>Public:</strong>
    <%= recipe.public %>
  </p>
  </div>

  <div  class="username">
  <p>
  <strong>User:</strong>
  <%= recipe.user_id %>
  </p>

  <p>
  <%= recipe.user.name %>
  </p>
  </div>
</div>
