<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center"  style="width:29rem; background-color: #e3f2fd; border-radius: 0.9rem;">
        <div class="col-10 col-md-8 col-lg-6">
<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>
</div>
</div>
</div>

<%= render "devise/shared/links" %>
