<div class="table_div">
<table class="table">
<thead>
<tr>
  <th scope="col">Food</th>
  <th scope="col">Measurement Unit</th>
  <th scope="col">Unit price</th>
  <th scope="col">Action</th>
</tr>
</thead>
<tbody>
<%= @foods.each do |food| %>
<tr>
  <td><%= food.name %> </td>
  <td><%= food.measurement %> </td>
  <td><%= food.price %> </td>
  <td><%= link_to "Delete" food, method :delete  class:"Btn delete_btn" %>
</tr>
</tbody>
</table>
</div>


