<div class="my-3 float-right" style="background-color: #e7720b; width: 150px; border-radius: 8px; padding-left: 29px">
  <%= link_to "Add Food", new_food_path, class: "btn", style: "margin-left: 2px;" %>
</div>

<div class="my-2">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Food</th>
        <th>Measurement Unit</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @foods.each_with_index do |food, index| %>
        <tr>
          <td><%= index+1 %></td>
          <td><%= food.name %></td>
          <td><%= food.measurement_unit %></td>
          <td><%= food.price %></td>
          <td><%= food.quantity %></td>
          <td>
            <%= button_to "Delete", food_path(food.id), method: :delete, class: "btn", style: "border: 1px solid #e7720b; width: 150px; border-radius: 8px; padding-left: 29px margin-left: 2px;" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
